<nav>
  <a routerLink="db" routerLinkActive="active">Data Binding</a> &nbsp;
  <a routerLink="PCcommunication" routerLinkActive="active">Parent-child communication</a> &nbsp;
  <a routerLink="CompCommunication" routerLinkActive="active">Component Communication</a> &nbsp;
  <a routerLink="LifeCycleHooks" routerLinkActive="active">Life Cycle Hooks and ng-content</a> &nbsp;
  <a routerLink="Directives" routerLinkActive="active">Directives</a> &nbsp;
  <a routerLink="Pipes" routerLinkActive="active">Pipes</a> &nbsp;


  
</nav>

<router-outlet></router-outlet>
