<nav>
  <a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Data Binding</a> &nbsp;
  <a routerLink="PCcommunication" routerLinkActive="active">Parent-child communication</a> &nbsp;
  <a routerLink="CompCommunication" routerLinkActive="active">Component Communication</a> &nbsp;
  <a routerLink="LifeCycleHooks" routerLinkActive="active">Life Cycle Hooks and ng-content</a> &nbsp;
  <a routerLink="Directives" routerLinkActive="active">Directives</a> &nbsp;
  <a routerLink="Pipes" routerLinkActive="active">Pipes</a> &nbsp;
  <a routerLink="lazy" routerLinkActive="active">Lazy & shared Module</a> &nbsp;
  <a routerLink="templateDriven" routerLinkActive="active">Template Driven Form</a> &nbsp;
  <a routerLink="reactiveForm" routerLinkActive="active">Reactive-Form</a> &nbsp;
  <a routerLink="route" routerLinkActive="active">Routing component</a> &nbsp;
  <a routerLink="rxjs" routerLinkActive="active">Rxjs-Operators</a> &nbsp;
  <a routerLink="httpReq" routerLinkActive="active">Http Request</a> &nbsp;
  <a routerLink="ngrx" routerLinkActive="active">NGRX Learning</a> &nbsp;




  
</nav>

<router-outlet></router-outlet>
